# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Local env/secrets
.env
.env.*
etc/secrets/config.properties
src/main/resources/application-prod.yml

# Java
*.class
